[submodule "third_party/ggml"]
	path = third_party/ggml
	url = https://github.com/li-plus/ggml.git
[submodule "third_party/sentencepiece"]
	path = third_party/sentencepiece
	url = https://github.com/google/sentencepiece.git
