# ide
.vscode/
.vs/

# macOS
.DS_Store

# python
__pycache__/
*.egg-info/
dist/
*.so
*.whl
.hypothesis/
.venv

chatglm_cpp/__init__.pyi

# cpp
build/

# model
*.bin

# clangd
.cache/

# data
/data/
*.log
